table {
  width: 100%;
  overflow: hidden;
  border-spacing: 0;
  border-radius: 0.3rem;
  font-size: 1rem;
}

th {
  border-bottom: 1px solid var(--border-dark1);
  background-color: #4081c2;
  color: var(--text-light1);
  padding: 1rem 0.5rem;
}

tr:nth-child(odd) {
  background-color: #888888;
}

tr:nth-child(even) {
  color: var(--text-dark1);
  background-color: white;
}

tr:hover {
  color: var(--text-dark1);
  background-color: #93c4f5;
}

td {
  padding: 0.5rem;
}

td div:hover {
  cursor: pointer;
  color: var(--hover);
}

.__loading {
  background-color: #888888;
  padding: 2.4rem 0;
}

.__noLaptimesFound {
  color: var(--text-light1);
}

.__id,
.__driver{
  position: relative;
  font-weight: bold;
}

.__comment {
  position: absolute;
  top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 100%;
}

.__car .__textContainer, .__track .__textContainer{
  justify-content: center !important;
}

.__car > img{
  width: 8rem;
}

.__driver span {
  border-radius: 0.3rem;
  padding: 0.2rem;
}

tr:nth-child(3) .__driver span {
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #555454;
  color: gold;
  background-color: var(--bg-dark3);
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid gold;
}

tr:nth-child(4) .__driver span {
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #555454;
  color: silver;
  background-color: var(--bg-dark3);
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid silver;
}

tr:nth-child(5) .__driver span {
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #555454;
  color: #cd7f32;
  background-color: var(--bg-dark3);
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid #cd7f32;
}

tr.__hasNotes {
  opacity: 1;
  background-size: 1rem 1rem;
  background-image: repeating-linear-gradient(135deg, rgba(188, 189, 205, 0.2) 0, rgba(188, 189, 205, 0.3) 1px, rgba(230, 230, 247, 0) 50%, rgba(230, 230, 247, 0) 30%);
}

.__losing_lg {
  display: table-cell;
}

.__losing_sm {
  display: none;
}

.__losing {
  white-space: nowrap;
  color: #c20000;
}

.__weatherSunny {
  background-color: #fbff00;
  color: var(--text-dark1);
}

.__weatherRainy {
  background-color: #274db4;
  color: var(--text-light1);
}

.__weatherSnow {
  background-color: #f3f3f3;
  color: var(--text-dark1);
}

.__brakingLineOff {
  background-color: #e00707;
  color: var(--text-light1);
}

.__brakingLineOn {
  background-color: #059711;
  color: var(--text-light1);
}

.__transmissionAutomatic {
  background-color: #059711;
  color: var(--text-light1);
}

.__transmissionSequential {
  background-color: #274db4;
  color: var(--text-light1);
}

.__transmissionHPattern {
  background-color: #954401;
  color: var(--text-light1);
}

.__controlsKeyboard {
  background-color: #059711;
  color: var(--text-light1);
}

.__controlsGamepad {
  background-color: #233974;
  color: var(--text-light1);
}

.__controlsSteeringWheel {
  background-color: #424242;
  color: var(--text-light1);
}

.__settings {
  width: 9rem;
}

.__settings:hover {
  cursor: pointer;
}

.__settings > div {
  box-shadow: 0.2rem 0.2rem 0.5rem 0.2rem #555454;
  padding: 0.3rem 0.7rem;;
  border-radius: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
  min-width: 6rem;
}

@media only screen and (max-width: 1300px) {
  .__losing_lg {
    display: none;
  }

  .__losing_sm {
    display: block;
    white-space: nowrap;
  }

}

@media only screen and (max-width: 1024px) {
  table {
    font-size: 0.5rem;
  }

  th {
    border-bottom: 1px solid var(--border-dark1);
    background-color: #4081c2;
    color: var(--text-light1);
    padding: 1rem 0.2rem;
  }

  td {
    padding: 0.2rem;
  }

  .__comment {
    top: 0.5rem;
    width: 75%;
  }
  
  .__settings {
    width: 6rem;
    padding-right: 0.3rem;
  }

  .__settings > div {    
    padding: 0.15rem 0.3rem;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.5rem;    
  }
}

@media only screen and (max-width: 700px) {
  .__comment {
    top: 0.5rem;
    padding: 0.2rem 0.2rem 0.2rem 0;
    width: 100%;
  }

  .__settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .__settings > div {    
    padding: 0.15rem 0.3rem;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
    font-size: 0.5rem;
    min-width: 1.3rem;
    width: 1.3rem;
  }

  .__settings span{
    display: none;
  }

  .__car > img{
    width: 4rem;
  }
}
